{% extends "home.html" %}
<!-- field atributes modificaciones / atributo concreto form.nombre-->
{{ form.media.css }}

{% load static %}

{{ form.media.css }}

{% block content %}

    <!-- Start Page Banner -->
    <div class="page-banner" style="padding:40px 0; background: url('{% static 'margo/images/slide-02-bg.jpg'%}') center #f9f9f9;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Acerca de CiceroT</h2>
            <p>Plataforma para comunicar guías turisticos con turistas</p>
          </div>
          <div class="col-md-6">
            <ul class="breadcrumbs">
              <li><a href="{% url 'cicerotwebapp:home' %}">Home</a></li>
              <li>Acerca de CiceroT</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Banner -->


    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="page-content">


          <div class="row">

            <div class="col-md-7">

              <!-- Classic Heading -->
              <h4 class="classic-title"><span>Bienvenido a CiceroT</span></h4>

              <!-- Some Text -->
              <p> Cicerot es una plataforma <b>online</b> que permite que los turistas encuentren una experiencia única a precios convenientes. Dentro de la plataforma se encontrara una gran variedad de oferta de servicios turísticos, en particular los ofrecidos por guías turísticos o cicerones. Los servicios ofrecidos por los cicerones serán definidos por estos, permitiendo así que la variedad de actividades y panoramas sea ilimitada. Luego de que los turistas encuentren la experiencia que buscan, el pago se llevara a cabo de forma segura mediante la misma plataforma.</p>
              <p>Con <b>CiceroT</b> se busca promover la industria del turismo a nivel nacional, junto con la formalización de los cicerones de todos el país. También se quiere fomentar el desarrollo turístico en zonas donde el turismo es nulo o emergente, permitiendo que cualquier persona que se considere apta para ofrecer este tipo de servicio, lo realice de manera simple con la ayuda de CiceroT. Se busca promover el trabajo independiente o asociativo entre cicerones de diversas zonas del país, potenciando así la industria nacional y porque no la internacional.</p>

            </div>

            <div class="col-md-5">

              <!-- Start Touch Slider -->
              <div class="touch-slider" data-slider-navigation="true" data-slider-pagination="true">
                <div class="item"><img alt="" src="{% static 'margo/images/about-01.jpg' %}"></div>
                <div class="item"><img alt="" src="{% static 'margo/images/about-02.jpg' %}"></div>
                <div class="item"><img alt="" src="{% static 'margo/images/about-03.jpg' %}"></div>
              </div>
              <!-- End Touch Slider -->

            </div>

          </div>

          <!-- Divider -->
          <div class="hr1" style="margin-bottom:50px;"></div>

          <div class="row">

            <div class="col-md-6">

              <!-- Classic Heading -->
              <h4 class="classic-title"><span> Obejtivo General </span></h4>

              <div class="skill-shortcode">
                <p>Con este proyecto buscamos ser un aporte en el continuo y sostenido aumento que ha tenido el turismo en el país, siendo un rubro que en los últimos años ha transformado en una pieza clave dentro de la economía nacional. Para ello CiceroT será el inicio de una nueva manera de ofrecer y también contactar servicios de turismo, en donde la transparencia y eficiencia en la búsqueda de guías turísticos será la principal característica. Además de poder dar tribuna a pequeñas agencias o familias que deseen sacar provecho de atractivos turísticos de su zona, generando así nichos de trabajo y fortalecer economías locales. </p>
              </div>

            </div>

          </div>

          <!-- Divider -->
          <div class="hr1" style="margin-bottom:50px;"></div>

          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Nuestro equipo</span></h4>

          <!-- Start Team Members -->
          <div class="row">

            <!-- Start Memebr 1 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'media/team/v2_Elías.png' %}" />
                  <div class="member-name">Elías Gonzźalez M <span>Experto Comercial</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
                  <br>
                  <p>Se encarga de todas las tareas asociadas al área comercial, relacionadas con la comercialización de los productos y/o servicios ofrecidos por la empresa, marketing y ventas.</p>
                </div>
                <!-- Memebr Social Links -->
                <div class="member-socail">
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                  <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                  <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>
            <!-- End Memebr 1 -->

            <!-- Start Memebr 2 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'media/team/v2_Isra.png' %}" />
                  <div class="member-name">Israel Martinez <span>Experto Legal</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
                  <br>
                  <p>Experto en aspectos legales, ademas se encuentra encargado de entregar soporte a las otras áreas de la empresa.</p>
                </div>
                <!-- Memebr Social Links -->
                <div class="member-socail">
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                  <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                  <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>
            <!-- End Memebr 2 -->

            <!-- Start Memebr 3 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'media/team/v2_Ian.png' %}" />
                  <div class="member-name">Ian Orellana <span>Experto Finanzas</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
                  <br>
                  <p>Experto en administración de recursos, contabilidad y finanzas. Esta a cargo de los aspectos financieros y el manejo de recursos humanos de la empresa.</p>
                </div>
                <!-- Memebr Social Links -->
                <div class="member-socail">
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                  <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                  <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>
            <!-- End Memebr 3 -->

            <!-- Start Memebr 4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'media/team/v2_Pablo.png' %}" />
                  <div class="member-name">Pablo Zurita <span>Experto Técnico</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
                  <br>
                  <p>Experto en el área de TI. Se encarga de los todos los aspectos que involucren del desarrollo, gestión, mantención ,producción de tecnología, entre otros. Ademas de entregar soporte de TI a las otras áreas.</p>
                </div>
                <!-- Memebr Social Links -->
                <div class="member-socail">
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                  <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                  <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>
            <!-- End Memebr 4 -->

            <!-- Start Memebr 5 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'media/team/v2_Carlos.png' %}" />
                  <div class="member-name">Carlos Caceres <span>Experto Técnico</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
                  <br>
                  <p>Experto en el área de TI. Se encarga de los todos los aspectos que involucren del desarrollo, gestión, mantención ,producción de tecnología, entre otros. Ademas de entregar soporte de TI a las otras áreas.</p>
                </div>
                <!-- Memebr Social Links -->
                <div class="member-socail">
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                  <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                  <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>
            <!-- End Memebr 5 -->

          </div>
          <!-- End Team Members -->

          <!-- Divider -->
          <div class="hr1" style="margin-bottom:50px;"></div>

          <!-- Start Clients Carousel -->
          <div class="our-clients">

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Turistas Felices</span></h4>

            <div class="clients-carousel custom-carousel touch-carousel" data-appeared-items="5">

              <!-- Client 1 -->
              <div class="client-item item">
                <a href="#"><img src="{% static 'margo/images/c1.png'%}" alt="" /></a>
              </div>

              <!-- Client 2 -->
              <div class="client-item item">
                <a href="#"><img src="{% static 'margo/images/c2.png'%}" alt="" /></a>
              </div>

              <!-- Client 3 -->
              <div class="client-item item">
                <a href="#"><img src="{% static 'margo/images/c3.png'%}" alt="" /></a>
              </div>

              <!-- Client 4 -->
              <div class="client-item item">
                <a href="#"><img src="{% static 'margo/images/c4.png'%}" alt="" /></a>
              </div>

              <!-- Client 5 -->
              <div class="client-item item">
                <a href="#"><img src="{% static 'margo/images/c5.png'%}" alt="" /></a>
              </div>

              <!-- Client 6 -->
              <div class="client-item item">
                <a href="#"><img src="{% static 'margo/images/c6.png'%}" alt="" /></a>
              </div>

              <!-- Client 7 -->
              <div class="client-item item">
                <a href="#"><img src="{% static 'margo/images/c7.png'%}" alt="" /></a>
              </div>

              <!-- Client 8 -->
              <div class="client-item item">
                <a href="#"><img src="{% static 'margo/images/c8.png'%}" alt="" /></a>
              </div>

            </div>
          </div>
          <!-- End Clients Carousel -->


        </div>
      </div>
    </div>
    <!-- End content -->
    
    
{% endblock %}

