{% extends "home.html" %}
<!-- field atributes modificaciones / atributo concreto form.nombre-->
{{ form.media.css }}

{% load static %}

{{ form.media.css }}

{% block content %}

    <!-- Start Page Banner -->
    <div class="page-banner" style="padding:40px 0; background: url(images/slide-02-bg.jpg) center #f9f9f9;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Guías</h2>
            <p>Buscador de guías</p>
          </div>
          <div class="col-md-6">
            <ul class="breadcrumbs">
              <li><a href="{% url 'cicerotwebapp:home' %}">Home</a></li>
              <li>Guías</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Banner -->


    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="page-content">

          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Nuestros guías: Busca a tu guía turístico</span></h4>
          <div class="widget widget-search">
            <form role="form" class="contact-form" id="form" method="GET" action="">
              <input placeholder="Lugares, nombre, comunas, tipo de guía, etc ..." type="search" name="search" value="{{ request.GET.search }}">
              <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>

          <!-- Start Team Members -->
          <div class="row">
          {% for guia in guias %}
            <!-- Start Memebr 1 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{{guia.usuario.multimedia_set.all.0.archivo_multimedia.url}}" />
                  <div class="member-name">{{guia.usuario.first_name}} {{guia.usuario.last_name}} - {{guia.clasificacion_guia}} <i class="fa fa-star"></i> <span>Guía Turístico</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
                  <p class="descrip">{{guia.descripcion_guia}}</p>...
                </div>
                <!-- Memebr Social Links -->
                <div class="member-socail">
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                  <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                  <a class="mail" href="#"><i class="fa fa-envelope"></i></a>
                </div>
                <div class="member-info">
                  Etiquetas: {% for tag in guia.tags.all %}
                    <a href="#">{{tag.texto_tag}}</a>,
                  {% endfor %}
                </div>
                <div class="member-info">
                  Tipo de Guía: {% for tipo in guia.tipos_guia.all %}
                    <a href="#">{{tipo.nombre_tipo_guia}}</a>,
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- End Memebr 1 -->
            {% endfor %}
          </div>
          <!-- End Team Members -->

        </div>
      </div>
    </div>
    <!-- End content -->
    
    
{% endblock %}

