{% extends "home.html" %}
<!-- field atributes modificaciones / atributo concreto form.nombre-->
{{ form.media.css }}

{% load static %}

{{ form.media.css }}

{% block content %}

    <!-- Start Page Banner -->
    <div class="page-banner" style="padding:40px 0; background: url('{% static 'margo/images/slide-02-bg.jpg'%}') center #f9f9f9;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Nuestro Servicios</h2>
            <p>Servicio de intermediación de primera</p>
          </div>
          <div class="col-md-6">
            <ul class="breadcrumbs">
              <li><a href="{% url 'cicerotwebapp:home' %}">Home</a></li>
              <li>Nuestro Servicios</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Banner -->


    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="page-content">


          <div class="row">

            <!-- Start Image Service Box 1 -->
            <div class="col-md-4 image-service-box">
              <img class="img-thumbnail" src="{% static 'margo/images/service-01.jpg' %}" alt="" />
              <h4>Tours Personalizados</h4>
              <p>Ofrecemos una amplia gama de tours para todos los gustos. Los guías de CicerT ofrecen tours creados especialmente para ti, con enfoques que de seguro te van a interesar.</p>
            </div>
            <!-- End Image Service Box 1 -->

            <!-- Start Image Service Box 2 -->
            <div class="col-md-4 image-service-box">
              <img class="img-thumbnail" src="{% static 'margo/images/service-02.jpg' %}" alt="" />
              <h4>Guías Capacitados</h4>
              <p>Todos nuestros guías cuentan con certificación del servicio nacional de turismo por lo que te garantizan un servicio de calidad. Además, todos son residentes de la zona por lo que serás parte de un tour lleno de vivencias y sentimiento que solo ellos pueden entregar.</p>
            </div>
            <!-- End Image Service Box 2 -->

            <!-- Start Image Service Box 3 -->
            <div class="col-md-4 image-service-box">
              <img class="img-thumbnail" src="{% static 'margo/images/service-03.jpg' %}" alt="" />
              <h4>Cobertura nacional</h4>
              <p>CiceroT es una plataforma con presencia en todo Chile. Podrás acceder a tours en zonas no contempladas por las agencias de turismo; lugares únicos y exóticos que te atraparán y cautivarán.</p>
            </div>
            <!-- End Image Service Box 3 -->

          </div>

          
            


          <!-- Divider -->
          <div class="hr1" style="margin-bottom:25px;"></div>

          <div class="row">

            <div class="col-md-8">

              <!-- Start Clients Carousel -->
              <div class="our-clients">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Usuarios Felices</span></h4>

                <div class="clients-carousel custom-carousel touch-carousel" data-appeared-items="4">

                  <!-- Client 1 -->
                  <div class="client-item item">
                    <a href="#"><img src="{% static 'margo/images/c1.png'%}" alt="" /></a>
                  </div>

                  <!-- Client 2 -->
                  <div class="client-item item">
                    <a href="#"><img src="{% static 'margo/images/c2.png'%}" alt="" /></a>
                  </div>

                  <!-- Client 3 -->
                  <div class="client-item item">
                    <a href="#"><img src="{% static 'margo/images/c3.png'%}" alt="" /></a>
                  </div>

                  <!-- Client 4 -->
                  <div class="client-item item">
                    <a href="#"><img src="{% static 'margo/images/c4.png'%}" alt="" /></a>
                  </div>

                  <!-- Client 5 -->
                  <div class="client-item item">
                    <a href="#"><img src="{% static 'margo/images/c5.png'%}" alt="" /></a>
                  </div>

                  <!-- Client 6 -->
                  <div class="client-item item">
                    <a href="#"><img src="{% static 'margo/images/c6.png'%}" alt="" /></a>
                  </div>

                  <!-- Client 7 -->
                  <div class="client-item item">
                    <a href="#"><img src="{% static 'margo/images/c7.png'%}" alt="" /></a>
                  </div>

                  <!-- Client 8 -->
                  <div class="client-item item">
                    <a href="#"><img src="{% static 'margo/images/c8.png'%}" alt="" /></a>
                  </div>

                </div>
              </div>
              <!-- End Clients Carousel -->

            </div>

            <div class="col-md-4">

              <!-- Classic Heading -->
              <h4 class="classic-title"><span>Testimonios</span></h4>

              <!-- Start Testimonials Carousel -->
              <div class="custom-carousel show-one-slide touch-carousel" data-appeared-items="1">
                <!-- Testimonial 1 -->
                <div class="classic-testimonials item">
                  <div class="testimonial-content">
                    <p>Excelente iniciativa, permite que cualquiera con ganas de ser guía turístico pueda ofrecer sus servicios.</p>
                  </div>
                  <div class="testimonial-author"><span>Ana Días</span> - Guía</div>
                </div>
                <!-- Testimonial 2 -->
                <div class="classic-testimonials item">
                  <div class="testimonial-content">
                    <p>Excelente servicio, te asesoran sobre el inicio de actividades para poder trabajar como guía turístico particular, ademas se encargan de manejar tu agenda.</p>
                  </div>
                  <div class="testimonial-author"><span>Catalina Ortiz</span> - Guía</div>
                </div>
                <!-- Testimonial 3 -->
                <div class="classic-testimonials item">
                  <div class="testimonial-content">
                    <p>Fomentar el desarrollo turístico nacional, permitiendo que localidades fomenten el turismo emergente, generando economías locales.</p>
                  </div>
                  <div class="testimonial-author"><span>Mario González</span> - Turista</div>
                </div>
              </div>
              <!-- End Testimonials Carousel -->

            </div>

          </div>


        </div>
      </div>
    </div>
    <!-- End Content -->
    
    
{% endblock %}

